
$font-orange : #FF5632;
$font-blue : #4E709D;

.hr {
    width: 80%;
    height: 1px;
    background-color: #808080;
    margin: 1em auto;
}
.main-header {
    background-color: #ffd2aeca;
    z-index: 999;
}
.navbarGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    transform: scale(.75);

}

.logoTitle {
    color:$font-orange;
    font-family: var(--font-roboto), sans-serif;
    font-size: 2.25rem;
    letter-spacing: 2px;
    font-weight: 700;
    position: relative;

}
.logoSubTitle {
    color:#333;
    font-weight: 500;
    
}

.li {
    position: relative;
}
.li::before {
    content: "";
    width:0;
    transition: 400ms ease-in-out;
}
.li:hover::before {
    content:"";
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: $font-orange;
}

.li>.Link {
    &:hover {
        color: #d85700;
    }
}


.logInBtn {
    font-style: italic;
    font-weight: bold;
}
